body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* START HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all 500ms ease-in-out;
  z-index: 9997;
  /* transition: all 300ms; */
  padding: 0 15px;
  background-color: #040b14;
  overflow-y: auto;
  overflow-x: hidden;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 150px;
  border: 4px solid #272829;
}

#header .profile h1 {
  font-size: 23px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background-color: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50px;
  text-align-last: center;
  width: 36px;
  height: 36px;
  transition: all 300ms ease-in-out;
}

#header .profile .social-links a:hover {
  background-color: #149ddd;
  color: #fff;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
}

/* Start Navigation Menu */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 500ms;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: #149ddd;
}

/* End Navigation Menu */
/* Start Menu Toggle */
.hamburger {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}

.menu-toggle input {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 28px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #149ddd;
  border-radius: 3px;
  transition: all 500ms ease-in-out;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #fff;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #fff;
  transform: rotate(-45deg) translate(-1px, 0);
}
/* End Menu Toggle */
/* Responsive Header/Navbar */
@media screen and (max-width: 992px) {
  #header {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 5;
  }
  #header.slide {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
}

@media screen and (max-width: 769px) {
  #header {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 5;
  }
  #header.slide {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
}

@media screen and (max-width: 576px) {
  #header {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 5;
  }
  #header.slide {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
}
/* END HEADER */

/* START HERO SECTION */
.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bang-ganteng.jpg") center;
  background-size: cover;
}

.hero::before {
  content: "";
  background-color: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

.hero h4 {
  color: #fff;
  font-weight: 200;
}

.hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}

.hero p span {
  letter-spacing: 1;
  border-bottom: 3px solid #149ddd;
}

@media screen and (max-width: 1200px) {
  .hero h1 {
    font-size: 48px;
  }
  .hero p {
    font-size: 28px;
  }
}
@media screen and (max-width: 992px) {
  .hero h1 {
    font-size: 42px;
    line-height: 46px;
  }
  .hero p {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
    line-height: 38px;
  }
  .hero p {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .hero h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .hero p {
    font-size: 14px;
  }
}
/* END HERO SECTION */

/* START MAIN */
#main {
  margin-left: 300px;
}
@media screen and (max-width: 992px) {
  #main {
    margin-left: 0;
  }
}
/* Section General */
section {
  padding: 50px 0;
  height: 100vh;
}
.section-title {
  padding-bottom: 30px;
  margin: 0 50px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 14px;
  position: relative;
  color: #040b14;
}
.section-title p {
  font-family: "Poppins", sans-serif;
}
/* After */
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 3px;
  background-color: #149ddd;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* START ABOUT SECTION */
.about {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 20%;
}
@media screen and (max-width: 576px) {
  .about {
    margin: 0 10%;
  }
}
/* END ABOUT SECTION */
/* END MAIN */
